
<div class="uk-section uk-section-muted">
    <div class="uk-container">
  <h1 class="display-3">Hello, <% if current_user.nil? %> world! <% else %> <%= current_user.name %> <% end %></h1>
  <% if current_user.nil? %>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <% else %>
   <p class="lead">Hello <%= current_user.name %>! It's about time you signed up! Lets create some events.</p>
  <% end %>
  <hr class="my-4">
  <p class="lead">
   <% if current_user.nil? %>
    <%= link_to "Login", login_path, class: "uk-button uk-button-default" %>
    <%= link_to "Sign Up", new_user_path, class: "uk-button uk-button-default" %>
   <% else %>
    <%= link_to "My Profile", user_path(current_user.id), class: "uk-button uk-button-primary" %>
    <%= link_to "Create Event", new_event_path, class: "uk-button uk-button-primary" %>
   <% end %>
  </p>
  </div>
</div>

<div class="uk-container uk-flex uk-flex-center">
<% @events.each do |f| %>
<br />
<div class="uk-card uk-card-default uk-card-hover">
  <div class="uk-card-header">
    <h4 class="uk-card-title"><%= f.title %></h4>
    <div class="uk-card-body">
    <p><%= f.description %></p>
    </div>
    <div class="uk-card-footer">
    <%= link_to 'Go to event', "#" %>
     </div>
  </div>
</div>
<br />
<% end %>
 </div>
